
#container{ margin: auto;
	padding-top: 100px;
             }
#table {border:1px solid #D3D3D3;
height: 400px;}

#pic{background-color:#cccc00; }

#input{ border-style: solid;
    border-bottom: thick line;
    border-width: thin;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #bfbfbf;
    color: #bfbfbf;
    width: 300px;} 
.input{
	border-style: solid;
    border-color: #cccc00; 
    border-bottom: thick line;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    text-align: left;
    font-weight: bold;
}
.text{
	color: #bfbfbf;
	text-align: left;
	font-size: 12px;
}
#logIn{ font-weight: bold; }
#button{ background-color:#cccc00;
	width:100px;
	height: 35px; 
	color: black;
	float: right;
	font-weight: bold;
	
  } 
.td{ padding-right: 25px;
     padding-left: 25px;
     width: 300px; }
#td{ padding-right: 25px;
	padding-left: 25px; 
    padding-bottom: 15px;
    padding-top: 20px; }
   

#error{  color: red;
      font-size: 11px;
      font-weight: bold;}